<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('build/images/logo/favicon.ico') }}" type="image/x-icon">
    <title>BBO - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('auth') }}
    {% endblock %}
</head>

<body>
<div id="auth">
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="{{ path('auth_login') }}"><img src="{{ asset('build/images/logo/logo.png') }}" alt="Logo"></a>
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>
</div>
{% block js %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}
</body>

</html>
