<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('build/images/logo/favicon.ico') }}" type="image/x-icon">
    <title>{{ 'app_name'|trans }} - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            {% include "_partials/_sidebar.html.twig" %}
        </div>
        <div id="main" class="layout-navbar">
            <header class="mb-3">
{#                {% include "_partials/_vertical_nav.html.twig" %}#}
            </header>
            <div id="main-content">
                {% include '_partials/_flash_messages.html.twig' %}

                {% block body %}
                {% endblock %}

                <footer>
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>2021 &copy; <a href="https://github.com/zuramai/mazer">Mazer</a> | {{ 'app_name'|trans }}
                                <a href="https://github.com/rmaud-me/sea-salt-paper-score"><i class="bi bi-github"></i></a></p>
                        </div>
                        <div class="float-end">
                            <p>{{ 'template_info.crafted_by'|trans|raw }} </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    {% block javascript %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
