{% extends 'layouts/error.html.twig' %}
{% block title %}{{ status_code }} - An error occured{% endblock %}

{% block body %}

<div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
        <img class="img-error" src="{{ absolute_url(asset('build/images/errors/error.png')) }}" alt="Internal error">
        <div class="text-center">
            <h1 class="error-title">{{ status_code }} - {{ status_text }}</h1>
            <p class="fs-5 text-gray-600">Oups ! An error occured</p>
            <a href="{{ path('app_index') }}" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
        </div>
    </div>
</div>

{% endblock %}
